<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <style>
    .green { background-color: green; color: white; }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
    <div>
        <br><br><br>
        <a href="{% url 'bulletin_board:announcement_list' %}">К списку объявлений</a><br>
        <a href="{% url 'bulletin_board:comment_list' %}">К списку откликов</a><br>
        <a href="{% url 'accounts:logout' %}">Логаут</a>
    </div>
</body>
</html>